# Xcode
build/
*.pbxuser
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcodeproj/xcuserdata/

# iOS
*.ipa
DerivedData/

# Swift
.swiftpm/

# Build
**/Frameworks/
*.framework
.build/

# Test
.xcoverage

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Dependencies (CocoaPods if used)
Pods/
Podfile.lock
